* {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    background-color: #0b0b0b !important;
}

.container {
    min-height: 100vh;
    background-color: #0b0b0b !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 40rem;
}
.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.233);
    align-items: center;
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background: #6c757d;
    color: white;
}
